extends ../include/_layout
block var
    - metas = {}
    - metas.title = 'title'
    - metas.url = 'url'
    - metas.image = 'image'
    - metas.site_name = 'site_name'
    - metas.description = 'description'
block title
    title Pug Template
block body